@{
    ViewBag.Title = "Index";
}

<h2>Welcome Home !</h2>

<p>Ready to choose a restaurant?</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Create a survey" />
}

<br />

<ul>
    <li>@Html.ActionLink("Add a restaurant", "CreateRestaurant", "Restaurant")</li>
    <li>@Html.ActionLink("Modify restaurants", "ModifyRestaurant", "Restaurant")</li>
</ul>