@model IEnumerable<RestaurantChoice.Models.Restaurant>

<table>
    <tr>
        <th>Name</th>
        <th>Phone number</th>
    </tr>
    @foreach (var resto in Model)
    {
        <tr>
            <td>@resto.Name</td>
            <td>@resto.PhoneNumber</td>
        </tr>
    }
</table>
